<div id="content">
    <div class="container">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="#/view">Home</a>
                </li>
                <li>View Donors</li>
            </ul>
        </div>
        <div class="col-md-3">
            <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                    <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#/view"><i class="fa fa-times-circle"></i> Clear</a></h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Armani (10)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Versace (12)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Carlo Bruni (15)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Jack Honey (14)
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                    </form>
                </div>
            </div>
            <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li class="active">
                            <a href="category.html">Ladies  <span class="badge pull-right">123</span></a>
                            <ul>
                                <li><a href="category.html">T-shirts</a>
                                </li>
                                <li><a href="category.html">Skirts</a>
                                </li>
                                <li><a href="category.html">Pants</a>
                                </li>
                                <li><a href="category.html">Accessories</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- *** MENUS AND FILTERS END *** -->
        </div>
        <div class="col-md-9">
            <div class="box">
                <h1>Donors</h1>
                <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p>
            </div>
            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-4 products-showing">
                        Got <strong>25</strong> Donors
                    </div>
                    <div class="col-sm-12 col-md-8  products-number-sort">
                        <div class="row">
                            <form class="form-inline">
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-number hidden">
                                        <strong>Show</strong> <a href="#/view" class="btn btn-default btn-sm btn-primary">12</a> <a href="#/view" class="btn btn-default btn-sm">24</a> <a href="#/view" class="btn btn-default btn-sm">All</a> products
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-sort-by">
                                        <strong>Sort by</strong>
                                        <select name="sort-by" class="form-control">
                                            <option>Price</option>
                                            <option>Name</option>
                                            <option>Sales first</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="row products">
                    <div class="col-md-12 col-sm-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>John Doe</td>
                                    <td>john@example.com</td>
                                    <td>9911502984</td>
                                    <td>606 Apt</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.products -->
            </div>
            <div class=" pages">
                <p class="loadMore hidden">
                    <a href="#/view" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
                </p>
                <ul class="pagination">
                    <li><a href="#/view">«</a>
                    </li>
                    <li class="active"><a href="#/view">1</a>
                    </li>
                    <li><a href="#/view">2</a>
                    </li>
                    <li><a href="#/view">3</a>
                    </li>
                    <li><a href="#/view">4</a>
                    </li>
                    <li><a href="#/view">5</a>
                    </li>
                    <li><a href="#/view">»</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#/viewcontent -->
