<div id="content">
    <div class="container">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="#/view">Home</a>
                </li>
                <li>View Donors</li>
            </ul>
        </div>
        <div class="col-md-3">
            <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu hidden">
                <div class="panel-heading">
                    <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#/view"><i class="fa fa-times-circle"></i> Clear</a></h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio">Liver
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio">Heart
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                    </form>
                </div>
            </div>
            <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Filters</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li class="active">
                            <a>Organ</a>
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input ng-model="params.organ" name="radio" type="radio" value="liver">Liver
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input ng-model="params.organ" name="radio" type="radio" value="eye">Eye
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input ng-model="params.organ" name="radio" type="radio" value="lugs">Lungs
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input ng-model="params.organ" name="radio" type="radio" value="Kidney">Kidney
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a>Distance</a>
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="number" min="0" value="0" ng-model="params.distance">KMs
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li class="active">
                            <a>Blood Group</a>
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="text" ng-model="params.bloodgroup">
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li class="active">
                            <a>Antibodies</a>
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="text" ng-model="params.antibodies">
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-default btn-sm btn-primary" ng-click="filterDonor()"><i class="fa fa-pencil"></i> Apply</button>
                </div>
            </div>
            <!-- *** MENUS AND FILTERS END *** -->
        </div>
        <div class="col-md-9">
            <div class="box">
                <h1>Donors</h1>
                <p>Here are all the donors details whom you can contact.</p>
            </div>
            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-4 products-showing">
                        Got <strong>{{donors.length}}</strong> Donors
                    </div>
                    <div class="col-sm-12 col-md-8  products-number-sort">
                        <div class="row">
                            <form class="form-inline">
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-number hidden">
                                        <strong>Show</strong> <a href="#/view" class="btn btn-default btn-sm btn-primary">12</a> <a href="#/view" class="btn btn-default btn-sm">24</a> <a href="#/view" class="btn btn-default btn-sm">All</a> products
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-sort-by">
                                        <strong>Sort by</strong>
                                        <select name="sort-by" class="form-control">
                                            <option>Select All</option>
                                            <option>Distance</option>
                                            <option>Name</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="row products">
                    <div class="col-md-12 col-sm-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="donor in donors">
                                    <td>{{donor.name}}</td>
                                    <td>{{donor.phno}}</td>
                                    <td>{{donor.address[0].city}}, {{donor.address[0].state}}, {{donor.address[0].pincode}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.products -->
            </div>
            <div class="pages">
                <p class="loadMore">
                    <a href="#/view" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
                </p>
                <ul class="hidden pagination">
                    <li><a href="#/view">«</a>
                    </li>
                    <li class="active"><a href="#/view">1</a>
                    </li>
                    <li><a href="#/view">2</a>
                    </li>
                    <li><a href="#/view">3</a>
                    </li>
                    <li><a href="#/view">4</a>
                    </li>
                    <li><a href="#/view">5</a>
                    </li>
                    <li><a href="#/view">»</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#/viewcontent -->
