<div id="content">
    <div class="container">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li>Verify - Patient</li>
            </ul>
        </div>
        <div class="col-md-9" id="checkout">
            <div class="box">
                <form name="loginForm" ng-submit="loginUser(loginForm)">
                    <h1>Login Verification</h1>
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstname">Aadhar Id</label>
                                    <input type="number" required class="form-control" ng-model="user.aadharId" id="firstname">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastname">Verification OTP</label>
                                    <input type="number" required class="form-control" ng-model="user.aadharOTP" id="lastname">
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="/#/" class="btn btn-default"><i class="fa fa-chevron-left"></i>Resend OTP</a>
                            <a href="/#/profile" id="goLink" class="btn btn-default hidden"><i class="fa fa-chevron-left"></i>Go</a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Verify<i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-md-9 -->
        <div class="col-md-3">
            <div class="box" id="order-summary">
                <div class="box-header">
                    <h3>Services</h3>
                </div>
                <p class="text-muted">State of the art medical sevices are provided.</p>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Order subtotal</td>
                                <th>$446.00</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.col-md-3 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
